/*=======
  fonts
=========*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');

:root {
  font-size: 62.5%;
  --calc-body-width: 7rem;
  --calc-body-height: 7rem;

  --fontMain: #3a2011;
  --fontBorder: #fcfb91;
}

*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

body {
  min-height: 100vh;
  font-size: 1.6rem;
}

body,
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  flex: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg, 
    rgb(255, 200, 200),
    rgb(200, 200, 255), 
    rgb(255, 200, 200), 
    rgb(200, 200, 255), 
    rgb(255, 200, 200));
}

main {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 3rem;
  font-family: 'Fredoka One', cursive;
}

.title {
  width: 100%;
  height: 7rem;

  bottom: 0;
  position: absolute;
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  font-family: 'Comforter Brush', cursive;
  
  background: rgb(119, 120, 170);
  box-shadow: 0 0 1rem 0.1rem rgb(0, 0, 0), inset 0 0 1rem 0.1rem rgb(80, 51, 51);
}

.title h1 {
  padding: 6px;
  user-select: none;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, var(--fontBorder), var(--fontMain), var(--fontBorder));
}

.calculator-body {
  width: 36rem;
  height: 75rem;

  padding-bottom: 3rem; 

  display: flex;
  align-items: center;
  flex-direction: column;

  position: relative;
  overflow: hidden;

  border-radius: 0.8rem;
  outline: 0.6rem solid rgb(88, 83, 83);
  box-shadow: 0 0 4rem 2rem rgb(107, 97, 97);
  background: linear-gradient(90deg, rgb(127, 112, 179), rgb(196, 158, 158), rgb(127, 112, 179));
}

.top-row {
  height: 23rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.calculator-screen {
  width: 93%;
  height: 12.5rem;

  margin: 1.2rem;
  position: relative;

  flex-shrink: 0;
  justify-self: flex-end;

  border: 0.1rem solid rgb(19, 20, 20);
  background: linear-gradient(45deg, darkgray, whitesmoke, silver, whitesmoke, darkgray);
}

.calculator-screen p {
  margin: 0 1rem;
  color: aliceblue;
  font-family: 'Chakra Petch', sans-serif;
}

.calculator-screen .line-a {
  margin-top: 0.5rem;
}

.calculator-screen .line-b {
  font-size: 6rem;

  position: relative;
  top: -0.2rem;
}

.line-a,
.line-b {
  text-align: right;
}

.line-a {
  width: 16ch;
}
.line-b {
  width: 8ch;
}

.calc-display {
  width: 100%;
  height: 100%;

  top:0;
  overflow: hidden;
  position: absolute;

  background: rgb(102, 79, 79, 0.8);
  box-shadow: 0 0 1rem 0.1rem rgb(73, 153, 122), inset 0 0 1rem 0.1rem rgb(37, 247, 166);
}

.calc-display .topline,
.calc-display .botline {
  opacity: 0.8;
  position: relative;
}

.topline {
  text-align: right;
}

.botline {
  top: 0.2rem;
  font-size: 6rem;
  text-align: right; 
}

.calculator-screen,
.calc-display {
  border-radius: 0.5rem;
}

.operators {
  display: flex;
  flex-wrap: wrap;
  border-radius: 2rem;
}

.operator {
  width: 4.5rem;
  height: 7rem;
  margin: 0.5rem;
  border-radius: 5rem;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  cursor: pointer;

  position: relative;
  border: 0.1rem solid rgb(19, 20, 20);
  background: linear-gradient(
    45deg, 
    rgb(255, 125, 125), 
    rgb(255, 152, 93), 
    rgb(255, 125, 125), 
    rgb(255, 152, 93), 
    rgb(255, 125, 125));
}

.operator .overlay {
  width: 100%;
  height: 100%;

  z-index: 10;
  position: absolute;
}

.reset-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.clear,
.backspace {
  height: 3.5rem;

  top: -0.5rem;
  position: relative;
}

.clear p {
  top: -0.3rem;
  position: relative;
}

.calculator-grid {
  width: 35rem;
  height: 60%;

  margin: 2rem;
  padding: 1.2rem;

  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;

  overflow: hidden;

  border-radius: 0.5rem;
  outline: 1rem double rgba(99, 57, 57, 0.4); 
  box-shadow: 0 0 1rem 0.1rem rgb(0, 0, 0), inset 0 0 1rem 0.1rem rgb(80, 51, 51); 
  /* background: linear-gradient(darkgray, whitesmoke, grey, whitesmoke, darkgray); */
}

.keypad {
  width: 9.5rem;
  height: 9.5rem;

  cursor: pointer;
  user-select: none;
  
  overflow: hidden;

  margin: 0.4rem;
  position: relative;

  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: center;

  border-radius: 1.5rem;
  border: 0.1rem solid rgb(19, 20, 20);
  background: linear-gradient(
    45deg, 
    rgb(200, 200, 255), 
    rgb(255, 200, 200), 
    rgb(200, 200, 255), 
    rgb(255, 200, 200));

  box-shadow: 0 0 2rem 0.1rem rgb(163, 78, 78);
  /* box-shadow: 0 0 0.4rem 0.1rem rgb(0, 0, 0), inset 0 0 0.1rem 0.1rem rgb(80, 51, 51); */
}

.keypad-shader,
.operator-shader {
  width: 70%;
  height: 70%;
  position: absolute;

  border-radius: 1rem;
  outline: 4rem groove rgb(192, 176, 176, 0.3);
}

.keypad-0 {
  width: 61%;
}
.shader-0 {
  width: 86%;
}